
body{
    background-color: black;
    color: darkseagreen;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.hidden{
    display: none;
}

 .works{
     color: rgb(40, 167, 69);
 }

 .btn{
     border: 1px solid rgb(40, 167, 69);
 }

 .btn:hover{
     color: white;
     background-color: rgb(40, 167, 69);
 }

 .red{
     color: red;
     border: 1px red solid;

}

 

