.form{
    margin-top: 80px;

}



h3{
    text-align: center;
    margin-bottom: 10px;

}

label{
    text-align: right;
}

.form{
    background-color: #f7f7f7;
}

button{
    justify-content: center;
    margin-bottom: 1.5em;
}

.green{
    border: 1px solid rgb(40, 167, 69);
    color: rgb(40, 167, 69);

}

.green:hover{
    background-color:rgb(40, 167, 69);
    color: white;


}

#contact-form{
    border:1px solid rgba(0,0,0,.125);
    display: grid;
    border-radius: 5px;
    
}