.form{
    margin-top: 80px;

}



h3{
    text-align: center;
    margin-bottom: 10px;
    /* background-color: rgba(0, 0, 0, 0.03); */
    border-bottom: 1px solid rgb(0,0,0,.125);


} 

label{
    text-align: right;
}

.form{
    background-color: #f7f7f7;
}

.form-control{
    background-color: rgba(0, 0, 0, 0.03);;
}

button{
    justify-content: center;
    margin-bottom: 1.5em;
    margin-top: 0rem;
    width: 20rem;

}

.green{
    border: 1px solid rgb(40, 167, 69);
    background-color: transparent;
    color: rgb(40, 167, 69);

}

.green:hover{
    background-color:rgb(40, 167, 69);
    color: white;


}

#contact-form{
    border:1px solid rgba(0,0,0,.125);
    display: grid;
    border-radius: 5px;
    background-color: transparent;
    
    
}

