.form{
    margin-top: 80px;

}



h3{
    text-align: center;
    margin-bottom: 10px;

}

label{
    text-align: right;
}

.form{
    background-color: #f7f7f7;
}

button{
    justify-content: center;
    margin-left: 40%;
}

.green{
    border: 1px solid rgb(40, 167, 69);
    color: rgb(40, 167, 69);

}

.green:hover{
    background-color:rgb(40, 167, 69);
    color: white;


}